@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隱藏滾動條但保留功能 */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* iOS 安全區域設定 */
.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}